<%- include("partials/header") %> 

<h1 style = "text-align: center;">Reservation Page</h1>

    <div class ="jumbotron">
        <div class = "container">
            <div class="row">
                <div class="col-4"></div>
                <div class= "col-auto">
                    <a class="btn btn-primary btn-lg" href= "/reservation/new">Create a New Reservation</a>
                </div> 
                <div class="col-4"></div>
            </div>
       
        </div>
    </div>


<%- include("partials/footer") %> 